@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spectral Light';
  src: url('/fonts/Spectral-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  background-color: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  font-family: Georgia, serif;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #366844;
  z-index: 1;
  position: relative;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.title {
  font-size: 32px;
  color: #366844;
}

.subtitle {
  font-size: 18px;
  color: #366844;
  margin-top: 10px;
}

.button {
  padding: 20px 40px;
  font-weight: bold;
  font-size: 24px;
  background-color: rgb(196,224,246);
  color:rgb(0,124,188);
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  border: none;
  outline: none;
}
